__pycache__/
**/__pycache__/
.pytest_cache/
*.vscode
cfg.yaml
*.pth
*.pkl
*.pyc
*.so
*.egg-info
# Ignore weight files but keep the folder structure
weights/*
!weights/.gitkeep
output*/
workspace/
workespace/
data-50mm/
.claude/
cpp/build/
build/
Log/
